html {
	font-size: 14px;
	font-family: "微软雅黑";
	background: #111;
}

a {
	color: #0e4279;
	-moz-transition: color 0.3s ease 0s;
}

a:hover {
	color: #5B636A;
}


/*初始码*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #555;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

td,
th,
caption {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
	border-collapse: collapse;
}

html {
	overflow-y: scroll;
}


/* css common */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}

.leftPart {
	width: 20%;
	position: relative;
}

.centerPart {
	width: 60%;
	position: relative;
}

.rightPart {
	width: 20%;
	position: relative;
}

body {
	height: 100vh;
	width: 100vw;
	background: #222;
	background-image: url(../img/backgroundImg.svg) ;
	background-repeat: repeat-x;
	background-size:cover
	background-size: 100%;
	 background-attachment:fixed;
	overflow: hidden;
	background-repeat: repeat;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
}


.leftPart {
	width: 20%;
	height: 100%;
	display: inline-block;
box-sizing:border-box;
/*-moz-box-sizing:border-box; /* Firefox */
/*-webkit-box-sizing:border-box; /* Safari */
/*border:1px solid #888;*/
}

.centerPart {
	width: 60%;
	height: 100%;
	margin-left: -5px;
	display: inline-block;

}

.rightPart {
	width: 20%;
	height: 100%;
	margin-left: -5px;
	display: inline-block;

}
.left{
	width: 100%;
	height: 25%;

padding: 0;
	
}
.center{
		width: 100%;
	height: 100%;

padding: 0;
}
.right{
	width: 100%;
	height: 25%;
	
padding: 0;
	
}

.topH {
	width: 100%;
	height: 3.2rem;
	/*background: red;*/
	position: relative;
}

h1 {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: -moz-linear-gradient( 0deg, rgba(255, 255, 255, 0.2) 0%, rgba(172, 172, 173, 0.23) 2%, rgb(89, 89, 90) 50%, rgba(172, 172, 173, 0.06) 97%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgba(255, 255, 255, 0.2) 0%, rgba(172, 172, 173, 0.23) 2%, rgb(89, 89, 90) 50%, rgba(172, 172, 173, 0.06) 97%, rgba(255, 255, 255, 0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgba(255, 255, 255, 0.2) 0%, rgba(172, 172, 173, 0.23) 2%, rgb(89, 89, 90) 50%, rgba(172, 172, 173, 0.06) 97%, rgba(255, 255, 255, 0) 100%);
	color: #fff;
	line-height: 3.2rem;
	font-size: 1.6rem;
	text-indent: 3rem;
}
.Hchart {
	padding:1rem;
	height: 100%;
}
.Echart {
	height: 100%;
	width: 100%;
	padding:-3rem 1rem;
}
.news {
	position: fixed;
	bottom: 0;
	width:60%;
	margin-left: 20%;
	height: 6.2rem;
	color: #fff;
	font-size: 1.6rem;
	text-align: center;
	font-weight: normal;
}

.news span {
	display: inline-block;
	width: 100%;
	height: 4.8rem;
	line-height: 4.8rem;
	background-image: -moz-linear-gradient( 0deg, rgba(255, 255, 255, 0) 0%, rgba(159, 175, 222, 0.04) 2%, rgb(62, 94, 189) 50%, rgba(159, 175, 222, 0.06) 97%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgba(255, 255, 255, 0) 0%, rgba(159, 175, 222, 0.04) 2%, rgb(62, 94, 189) 50%, rgba(159, 175, 222, 0.06) 97%, rgba(255, 255, 255, 0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgba(255, 255, 255, 0) 0%, rgba(159, 175, 222, 0.04) 2%, rgb(62, 94, 189) 50%, rgba(159, 175, 222, 0.06) 97%, rgba(255, 255, 255, 0) 100%);
	vertical-align: middle;
}

.news span:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #3e5ebd;
	position: absolute;
	bottom: 0;
	left: -webkit-calc(50%);
	overflow: hidden;
	text-align: center;
}
/* 提示自定义 */

.mapTip {
	display: none;
	position: absolute;
	padding: 8px;
	background: #fff;
	border: 1px solid #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
	font-size: 12px;
	font-family: Tahoma;
	color: #333;
}

.mapTip .arrow,
.mapTip .arrowMask {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.mapTip .arrow {
	bottom: -7px;
	left: 50%;
	margin-left: -7px;
	border-width: 7px;
	border-top-color: #999;
	border-top-color: rgba(0, 0, 0, .25);
	border-bottom-width: 0;
}

.mapTip .arrowMask {
	bottom: 1px;
	border-width: 6px;
	margin-left: -6px;
	border-top-color: #fff;
	border-bottom-width: 0;
}

.mapInfo i {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-top: 5px;
	line-height: 15px;
	font-style: normal;
	background: #aeaeae;
	color: #fff;
	font-size: 11px;
	font-family: Tahoma;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	text-align: center
}

.mapInfo i.active {
	background: #E27F21;
}

.mapInfo span {
	padding: 0 5px 0 3px;
}

.mapInfo b {
	font-weight: normal;
	color: #2770B5
}

.mymap {
	position: relative;
}

.map-bg {
	position: absolute;
	margin: 0 auto;
	position: absolute;
	margin: 0 auto;
	left: 30px;
	right: 0px;
	top: 20px;
	bottom: 0px;
}

.map-d {
	background-image: url(../img/map.png);
	background-size: cover;
	/*cover*/
	background-position: -2px 2px;
	position: absolute;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

#textname {
	position: absolute;
    left: 2rem;
    top: 1rem;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 10rem;
	color: #fff;
	font-style: normal;
}

#textname li {
	line-height: 2rem;
}

#textname i {
	display: inline-block;
	margin-right: 1rem;
	width: 1rem;
	height: 0.8rem;
	border-radius: 50%;
	font-style: normal;
}

#textname span {
	width: 30rem;
	height: 1px;
	display: block;
	background-image: -moz-linear-gradient( 0deg, rgb(59, 116, 197) 0%, rgba(30, 58, 99, 0.61) 65%, rgba(14, 27, 45, 0.5) 84%, rgba(0, 0, 0, 0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(59, 116, 197) 0%, rgba(30, 58, 99, 0.61) 65%, rgba(14, 27, 45, 0.5) 84%, rgba(0, 0, 0, 0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(59, 116, 197) 0%, rgba(30, 58, 99, 0.61) 65%, rgba(14, 27, 45, 0.5) 84%, rgba(0, 0, 0, 0) 100%);
}
#textname li {
	line-height: 2rem;
}

#textname i {
	display: inline-block;
	margin-right: 1rem;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}

#textname span {
	width: 26rem;
	height: 1px;
	display: block;
	background-image: -moz-linear-gradient( 0deg, rgb(59, 116, 197) 0%, rgba(30, 58, 99, 0.61) 65%, rgba(14, 27, 45, 0.5) 84%, rgba(0, 0, 0, 0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(59, 116, 197) 0%, rgba(30, 58, 99, 0.61) 65%, rgba(14, 27, 45, 0.5) 84%, rgba(0, 0, 0, 0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(59, 116, 197) 0%, rgba(30, 58, 99, 0.61) 65%, rgba(14, 27, 45, 0.5) 84%, rgba(0, 0, 0, 0) 100%);
}

#deviceDistributeChart {

	padding: 0px;
	width:90%;
	height: 7.3rem;
    margin-top: 5.66rem;
    margin-left: 2.2rem;
}
#areas_YHZL{
	width:100%; height:80%;
	margin-top:1.6rem;
}
#deviceDistributeChart1{
	position:absolute;left:-120px;top:0px;padding:0px;margin:0px;width:800px;height: 400px;
}
#chartTwo {
	position: absolute;
left: -5.8rem;
    top: 0.6rem;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 245px;
}

header {
	height: 8%;
}

header div {
	background-image: -moz-linear-gradient( 90deg, rgb(19, 13, 15) 0%, rgb(48, 58, 122) 10%, rgb(77, 102, 229) 18%, rgb(17, 13, 48) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(19, 13, 15) 0%, rgb(48, 58, 122) 10%, rgb(77, 102, 229) 18%, rgb(17, 13, 48) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(19, 13, 15) 0%, rgb(48, 58, 122) 10%, rgb(77, 102, 229) 18%, rgb(17, 13, 48) 100%);
	padding: 30px;
	height: 100%;
	border: 2px solid #222;
}
.content {
	border-left: 0.5rem solid #fff;
	border-right: 0.5rem solid #fff;
	border-image: url(../img/border.png) 0 20 0 20 stretch stretch;
	height: 92%;
	position: relative;
	padding-top:5.4rem;
}




.stnFont {
	height: 100%;
	display: inline-block;
	color: #ff3131;
	font-size: 2.2rem;
	text-align: center;
}

.stnHr {}

.stnP {
	padding: 0;
	padding-left: 1.2rem;
}

.stnP-span {
	font-size: 1.6rem;
	color: #fff;
	line-height: 1rem;
	display: inline-block;
	margin-top: 0.5rem;
}

.stnP-i {
	display: inline;
	font-size: 1rem;
	color: #92a2e8;
	line-height: 0;
}

.stnFont-mid {
	display: inline-block;
	color: #fff;
	text-align: center;
	text-indent: 2.6rem;
	font-size: 2rem;
}

.blueFont {
	display: inline;
	font-size: 1.8rem;
	color: #46efff;
	text-indent: 2rem;
	font-style: normal;
}

.blueFont-right {
	display: inline-block;
	font-size: 1.8rem;
	padding: 0;
	color: #46efff;
	font-style: normal;
}

.stnFont-right {
	display: inline-block;
	color: #fff;
	font-size: 1.8rem;
	padding: 0;
}
#scatter_HotSpot{
	width: 100%;
	height: 100%;
	margin-top: -1.6rem;

}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:1rem;
	width:86%;
	/*background:#fff;*/
	opacity: 0.9;
	height:1rem;
	/*border-radius:0.3rem;
	-moz-border-radius:0.3rem;
	-webkit-border-radius:0.3rem;*/
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:1rem;
	color:#ffffff;
	background:#6adcfa;
	/*-webkit-border-top-left-radius:0.3rem;
	-webkit-border-bottom-left-radius:0.3rem;
	-moz-border-radius-topleft:0.3rem;
	-moz-border-radius-bottomleft:0.3rem;
	border-top-left-radius:0.3rem;
	border-bottom-left-radius:0.3rem;*/
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:1rem;
	line-height:1rem;
	/*-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;*/
}

.skillbar-bar {
	height:1rem;
	width:0px;
	background:#6adcfa;
	/*-webkit-border-radius:0.3rem;
	-moz-border-radius:0.3rem;*/
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:1rem;
	line-height:1rem;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
#pie_JHL_old{
	width:32rem;
	height: 32rem;
	display: inline-block;
	position: absolute;
	top:-2.4rem;
	left: 2rem;
}
#watch_div {
	width:14rem;
	height: 14rem;
}
#many_spline_div{
	width:100%; 
	height:80%;
	    margin-left: -1rem;
	    margin-top: 1rem;
}
#funnel_SBPM{
	width: 100%;
	height: 32rem;
}
#rate{
	height: 100%;
}
#funnel_SBPM{
	width: 100%;height: 90%;
	margin-top: -1rem;
	margin-left: 1rem;
}
#pie_LXFB{
	width: 80%;
	height: 100%;
	margin-left: 2rem;
	margin-top: -3.2rem;
}
#mix_JHL{
		width: 100%;
	height: 100%;
	margin-left: -1.2rem;
	margin-top: -1rem;
}
.bottomLeft {
	position: absolute;
	bottom:0;
	width: 32rem;
	height: 32rem;
	left:-6rem;
}
#gauge_YBP{
	width: 100%;
	height: 100%;
}
#line_YHRZ{
		width: 100%;
	height: 90%;
	margin-top: -1rem;
}
.state{
		width: 100%;
	height: 100%;
	margin-top: -1rem;
}